h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin-bottom: 4px;
}

strong {
  font-weight: 500;
}

p {
  line-height: 120%;
}

@media print {
  p {
    margin: 0 0 10px;
  }
  a {
    color: #2196F3;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
