body {
  font-family: 'Roboto', sans-serif;
}

@media print {
  p {
    margin: 0 0 10px;
  }
  a {
    color: #2196F3;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
