name: 'Pull Request'

on:
  pull_request:
    paths-ignore:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 9.12.2

      - name: Get node version
        id: get-node-version
        run: |
          NODE_VERSION=$(cat .nvmrc)
          echo "NODE_VERSION=${NODE_VERSION}"
          echo "node-version=${NODE_VERSION}" >> $GITHUB_OUTPUT

      - name: Set up node ${{ steps.get-node-version.outputs.node-version }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ steps.get-node-version.outputs.node-version }}

      - name: Install
        run: pnpm install

      - name: Knip
        run: pnpm knip

      - name: Compile
        run: pnpm compile

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Format
        run: pnpm format

      - name: Test
        run: pnpm test
